* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > header {
    background-color: #2f3640;
    color: #FFF;
    padding: 16px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav li {
   display: inline;
}
header nav li a {
  color: #f5f6fa;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
header nav li a:hover {
    
text-decoration: underline;
}
.container {
    width: 1366px;
    margin: 0 auto;

}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}
.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

.articles article a {
    display: inline-block;
    background-color: green;
    color: #FFF;
    text-decoration: none;
    padding: 0.3rem 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.articles article a:hover {
    text-decoration: underline;
}
.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#economia {
    background-color: #f3f0a4;
}
#economia .articles article a {
    background-color: #ff9f1a;
}

#tecnologia {
    background-color: bisque;
}
#tecnologia .articles article a {
    background-color: rgb(182, 150, 111);
}

#tecnologia .creation-date {
    color: rgb(206, 77, 77);
    font-weight: bold;
}